body {
	font-size: 14px;
	margin: 0px;
	padding: 0px;
	text-align:center;
	font-family: "ו";
}
#ahead{
background:url(../images/bg3.jpg) repeat-x;
height:60px;
width:100%;
margin:0px 0px 0px 0px;
}
#container {
text-align:left;
position:relative;
width:900px;
padding:0px;
margin:0px auto 0px auto;
}
#banner{
margin:0px 0px 5px 0px;
width:100%;
height:40px;
background:url(../images/guuguu.jpg) no-repeat right center;

}


#daohang ul{
list-style-type:none;
padding:60px 0px 0px 0px;
margin:0px;
position:relative;


}
#daohang{
margin:0px;
padding:0px;
float:left;
width:200px;
background:url(../images/bg6.jpg) no-repeat top left;

}
#daohang ul li{

text-align:center;
margin:0px;
padding:0px;
border-bottom:1px solid #2626FF;

}
#daohang ul li a{
display: block;
padding:5px 10px 5px 0px;
text-decoration:none;
border-left:10px solid #2626FF;
border-right:1px solid #2626FF;
}
#daohang ul li a:link,#daohang ul li a:visited{
background-color: #0071E1;
color:#FFFFFF;
}
#daohang ul li a:hover{
background-color: #4242FF;
color: #000000;
}
#daohang li.help a:hover{
cursor:help
}
#main{
margin:0px;
padding:0px;
text-align:left;
float:left;
width:700px;
margin-bottom:5px;

}

#footer{
text-align:right;
clear:both;
border-top:1px dotted #000000;
padding:5px;
font-size:14px;
color: #484848;
}
#footer a{
text-decoration:none;
}

#footer a:link,#footer a:visited{
color:#3399FF;
}
#footer a:hover{
color: #484848;

}

