body {
	font-size: 14px;
	margin: 0px;
	padding: 0px;
	text-align:center;
	font-family: "ו";
}
#ahead{
background:url(../images/bg3.jpg) repeat-x;
height:60px;
width:100%;
margin:0px 0px 0px 0px;
}
#container {
text-align:left;
position:relative;
width:900px;
padding:0px;
margin:0px auto 0px auto;
}
#banner{
margin:0px 0px 5px 0px;
width:100%;
height:40px;
background:url(../images/guuguu.jpg) no-repeat left center;

}



#main{
margin:0px;
padding:0px;
text-align:left;
width:100%;
border-top:1px dotted #000000;
margin-bottom:5px;


}

#footer{
text-align:right;

border-top:1px dotted #000000;
padding:5px;
font-size:14px;
color: #484848;
}
#footer a{
text-decoration:none;
}

#footer a:link,#footer a:visited{
color:#3399FF;
}
#footer a:hover{
color: #484848;

}
